{{#extends "base"}}

{{#block "content"}}
<h1>Welcome to Customer is Always Right CRM</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut fringilla ante, at consequat risus. Sed posuere, massa sit amet facilisis condimentum, dolor elit iaculis massa, quis finibus ante nisl a massa. Nam ante tortor, vehicula non viverra vestibulum, auctor sed est. Suspendisse id nisi venenatis, blandit dolor nec, facilisis velit. Nam imperdiet tortor est, a convallis neque bibendum quis. Donec nisi urna, iaculis a luctus egestas, efficitur lobortis nulla. Aliquam at odio nunc. Vestibulum mattis cursus turpis, ac mattis ligula.
</p>
<p>
Sed sollicitudin arcu bibendum, egestas tortor at, commodo lorem. Morbi malesuada at turpis vitae posuere. Maecenas felis nibh, faucibus non tincidunt quis, hendrerit a ex. Sed blandit nisi eget purus posuere auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris finibus pellentesque sapien vel dignissim. Aliquam felis leo, pulvinar et egestas non, ultrices nec metus. Donec accumsan libero eget quam varius condimentum. In imperdiet urna sed justo ultricies ultricies.
</p>
{{/block}}


{{/extends}}